<ul class="edit-menu">
    <li><a id="brush" class="mt-btn btn-floating btn-large red"><i class="material-icons">brush</i></a></li>
    <li><a id="lines" class="mt-btn btn-floating red" data-tip="Double click to stop drawing lines">
        <i class="material-icons">remove</i>
    </a></li>
    <li hidden="hidden"><a class="mt-btn btn-floating red" id="fill"><i class="material-icons">format_color_fill</i></a>
    </li>
    <li>
        <a id="weight" class="btn-floating blue"><i class="material-icons">line_weight</i></a>

        <div id="weight-select" class="right floating-menu" hidden="hidden">
            <a class="line-weight-spec btn-floating blue" id="w1" weight="1">
                <div class="center">1</div>
            </a>
            <a class="line-weight-spec btn-floating blue" id="w2" weight="2">
                <div class="center">2</div>
            </a>
            <a class="line-weight-spec btn-floating blue" id="w5" weight="5">
                <div class="center">5</div>
            </a>
            <a class="line-weight-spec btn-floating blue darken-4" id="w10" weight="10">
                <div class="center">10</div>
            </a>
            <a class="line-weight-spec btn-floating blue" id="w25" weight="25">
                <div class="center">25</div>
            </a>
            <a class="line-weight-spec btn-floating blue" id="w50" weight="50">
                <div class="center">50</div>
            </a>
            <a class="line-weight-spec btn-floating blue" id="w100" weight="100">
                <div class="center">100</div>
            </a>
        </div>
    </li>

    <li><a class="btn-floating blue modal-trigger" href="#modal1" id="color-picker"><i
            class="material-icons">color_lens</i></a></li>
    <li><a id="eraser" class="mt-btn btn-floating yellow darken-1"><i class="fa fa-eraser small"></i></a></li>
    <li><a id="undo" class="btn-floating green"><i class="material-icons">undo</i></a></li>
    <li><a id="redo" class="btn-floating green"><i class="material-icons">redo</i></a></li>
</ul>