<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="init()">

<div style="border:2px solid black ;  margin: 5% ">
    <h1>This is the main page</h1>
</div>


<div style="border:2px solid black ;  margin: 5% " class="user-select">
    <h3>
        <!--/*@thymesVar id="usr" type="ru.nsu.upft.entity.user.User"*/-->
        <span id="userInfo" class="select_label"
              th:text="${'User: ' + usr.getFirstName() + ' ' + usr.getSecondName()}">
            </span>
    </h3>
</div>


<div id="teacherMod" style="border:2px solid black ;  margin: 5%; display: block ">

    <h3>Your own room list: </h3>
    <select id="sortOwnRoom">
        <option>Name</option>
        <option>Description</option>
    </select>
    <button onclick="sort(1)">Sort</button>

    <div border="1" style="margin: 2%;">
        <tbody>

        <tr
                th:each="book, iStat : ${yourRoomOwn.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
            <div style="margin: 2%; border:2px solid black ;">
                Room name
                <div>
                    <td th:text="${book.name}"/>
                </div>
                Room description
                <div>
                    <td th:text="${book.description}"/>
                </div>
                <div>
                    <button th:onclick="'openRoom('+${book.id}+')'">Open room</button>
                </div>
            </div>
        </tr>

        </tbody>
    </div>
    <div th:if="${yourRoomOwn.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbersOwn}">
        <a th:href="@{/main(page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==yourRoomOwn.number + 1} ? active"></a>
    </div>


    <div style="border:1px solid black ;  margin: 3%; ">
        <div style="margin: 3%;">
            <h3>Room create form</h3>
            <input type="text" placeholder="Enter room name" id="room-name" required>
            <input type="text" placeholder="Enter room description" id="room-description" required>
            <div>
                Choose subject or create new
                <select id="subjects" required></select>
                <button onclick="openForm()">Create new subject</button>
            </div>
        </div>
        <div style="display: none; margin: 2%;border:2px black ;" id="myForm">
            <h4>Create new subject</h4>
            <input type="text" placeholder="Enter subject" id="subj-name" required>
            <input type="text" placeholder="Enter subject description" id="subj-description" required>
            <button type="submit" onclick="createSubject()" class="btn">Create subject</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close form</button>
            <div id="subj-info"></div>
        </div>


        <button type="submit" onclick="createRoom()">Create room</button>
    </div>
</div>

<div style="border:2px solid black ;  margin: 5% ">
    <h3>Your student room list: </h3>
    <select id="sortStudentRoom">
        <option>Name</option>
        <option>Description</option>
    </select>
    <button onclick="sort(2)">Sort</button>

    <div border="1" style="margin: 2%;">
        <tbody>

        <tr
                th:each="stud, iStatS : ${yourRoomStudent.content}"
                th:style="${iStatS.odd}? 'font-weight: bold;'"
                th:alt-title="${iStatS.even}? 'even' : 'odd'">
            <div style="margin: 2%; border:2px solid black ;">
                Room name
                <div>
                    <td th:text="${stud.name}"/>
                </div>
                Room description
                <div>
                    <td th:text="${stud.description}"/>
                </div>
                <div>
                    <button th:onclick="'openRoom('+${stud.id}+')'">Open room</button>
                </div>
            </div>
        </tr>

        </tbody>
    </div>
    <div th:if="${yourRoomStudent.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbersStudent}">
        <a th:href="@{/main(pageAlt=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==yourRoomStudent.number + 1} ? active"></a>
    </div>
</div>


<script type="text/javascript">
    var ROOM_PATH = "/rooms";
    var CREATE_PATH = "/create";
    let mainURL = "/main"
    let login;
    let subjects;

    function sort(nim){
        if(nim === 1){
            var field = document.getElementById("sortOwnRoom").value;
            window.location.href = mainURL + "?sortOwn=" + field
        } else{
            var field1 = document.getElementById("sortStudentRoom").value;
            window.location.href = mainURL + "?sortStudent=" + field1
        }
    }

    function createRoom() {
        const roomName = document.getElementById("room-name").value;
        const roomDesc = document.getElementById("room-description").value;
        const subj = document.getElementById("subjects").value;
        let body = {
            "name": roomName,
            "description": roomDesc,
            "subject": {
                "type": subj,
                "describe": null
            }
        }

        let xhr = new XMLHttpRequest();
        xhr.open("POST", ROOM_PATH + CREATE_PATH, false)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify(body));
        if (xhr.status !== 200) {
            console.log(xhr.status + ': ' + xhr.statusText); // пример вывода: 404: Not Found
        } else {
            console.log("Room created")
            window.location.href = mainURL
        }
    }

    function openRoom(id) {
        localStorage.setItem("currentRoom", id);
        window.location.href = "/room/" + id
    }

    function init() {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/users/me", false)
        xhr.send();
        if (xhr.status !== 200) {

        } else {
            login = JSON.parse(xhr.responseText).login
            var myId = JSON.parse(xhr.responseText).id
            var role = JSON.parse(xhr.responseText).roles

            console.log(role)
            if(role[0] === "ROLE_STUDENT"){
                document.getElementById("teacherMod").style.display = "none";
            }
            localStorage.setItem("login", login);
            localStorage.setItem("myId", myId);
        }
        getSubjects();
    }

    function getSubjects() {
        let xhr1 = new XMLHttpRequest();
        xhr1.open("GET", "/rooms/subjects", false)
        xhr1.send();
        if (xhr1.status !== 200) {

        } else {
            subjects = JSON.parse(xhr1.responseText)
            insertSubject();
        }
    }

    function insertSubject() {
        let select = document.getElementById("subjects")
        let htmlInclude = [];

        let i = 0;
        for (var s in subjects) {
            let option = '<option>' + subjects[i].type + '</option>';
            i++;
            htmlInclude.push(option)
        }
        // let createForm = '<option>'+ '<button onclick="openForm()">Create new</button>'+ '</option>';
        // htmlInclude.push(createForm);
        select.innerHTML = htmlInclude;
    }

    function createSubject() {
        const type = document.getElementById("subj-name").value;
        const decr = document.getElementById("subj-description").value;

        let body = {
            "type": type,
            "describe": decr
        }

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/rooms/add/subject", false)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify(body));
        if (xhr.status === 200) {
            getSubjects();
            document.getElementById("subj-info").innerText = "Subject created";
        } else {
            document.getElementById("subj-info").innerText = "Subject already exist";
        }
    }


    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

</body>
</html>