<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
</style>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="init()">
<div class="user-select">
    <button onclick="window.history.back()">Go to main page</button>
    <div style="border:1px solid black ;  margin: 3%;">
        <!--/*@thymesVar id="usr" type="ru.nsu.upft.entity.user.User"*/-->
        <span class="select_label"
              th:text="${'Theacher: ' + usr.getFirstName() + '  ' + usr.getSecondName()}">
            </span>
    </div>

    <div style="margin: 3%;">
        <!--/*@thymesVar id="room" type="ru.nsu.upft.entity.room.Room"*/-->
        Room name
        <div style="border:1px solid black ; margin: 3%; "
             th:text="${room.getName()}">
        </div>
        Room description
        <div style="border:1px solid black ; margin: 3%;"
             th:text="${room.getDescribe()}">
        </div>

        Subject
        <div style="border:1px solid black ; margin: 3%;"
             th:text="${room.getSubject().getType()}">
        </div>
    </div>


    <button onclick="openDesk()">Open work desk</button>

    <div style="border:1px solid black ;  margin: 3%;">
        <h2>Students in room</h2>
        <select id="sort">
            <option>Name</option>
            <option>Description</option>
            <option>Deadline</option>
            <option>Comment</option>
            <option>Resource</option>
        </select>
        <button onclick="sort()">Sort</button>

        <tbody>
        <tr
                th:each="student : ${std}">
            <div style="margin: 2%; border:2px solid black ;">
                Student
                <div>
                    <td th:text="${student.firstName +' '+student.secondName}"/>
                </div>
            </div>
        </tr>

        </tbody>

        <div id="addUser" style="margin: 3%; display: none;">
            <input type="text" placeholder="" id="invite_link" required>
            <button type="submit" onclick="addUserToRoom()">Add user to room</button>

            <div id="infoLink"></div>
        </div>
    </div>


    <div style="margin: 3%; border:1px solid black ;">
        <h2>Announcements</h2>
        <!--/*@thymesVar id="announcements" type="ru.nsu.upft.entity.room.Announcements"*/-->
        <div style="border:1px solid black ;  margin: 1%;"
             th:each="a:${announcements}"
             th:text="${ a.getCreationDate() + ': ' + a.getText()}">
        </div>

        <button id="addAnoun" style="display: none;" onclick="openFormAnouns()">Create new announcement</button>

        <div style="display: none; margin: 2%;border:2px black ;" id="myFormAnouns">
            <h4>Create new announcement</h4>
            <input type="text" placeholder="Enter text" id="Anouns-text" required>
            <button type="submit" onclick="createAnouns()" class="btn">Create announcement</button>
            <button type="button" class="btn cancel" onclick="closeFormAnouns()">Close form</button>
            <div id="subj-info"></div>
        </div>

        <div id="anon-info"></div>

    </div>


    <div style="border:1px solid #000000 ;  margin: 3%;">
        <h2>Tasks</h2>

        <select id="sortStudentRoom">
            <option>Name</option>
            <option>Description</option>
            <option>Deadline</option>
            <option>Comment</option>
            <option>Resource</option>
        </select>
        <button onclick="sort(2)">Sort</button>
        <div border="1" style="margin: 2%;">
            <tbody>

            <tr
                    th:each="task, iStat : ${tasks.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                <div style="margin: 2%; border:2px solid black ;">
                    Name
                    <div>
                        <td th:text="${task.name}"/>
                    </div>
                    Describe
                    <div>
                        <td th:text="${task.describe}"/>
                    </div>
                    Deadline
                    <div>
                        <td th:text="${task.deadline}"/>
                    </div>
                    Comment
                    <div>
                        <td th:text="${task.comment}"/>
                    </div>

                    Resource
                    <div>
                        Link
                        <td th:text="${task.resource.linkToResource}"/>
                        Comment
                        <td th:text="${task.resource.describe}"/>
                    </div>
                </div>
            </tr>

            </tbody>
        </div>

        <div th:if="${tasks.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbersOwn}">
            <a th:href="@{'/room/'+${id}(page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==tasks.number + 1} ? active"></a>
        </div>

        <button id="addTask" style="display: none;" onclick="openFormTask()">Create new task</button>

        <div style="display: none; margin: 2%;border:2px black ;" id="myFormTask">
            <h4>Create new task</h4>
            <input type="text" placeholder="Enter task" id="task-name" required>
            <input type="date" placeholder="Enter date" id="task-date" required>
            <input type="text" placeholder="Enter description" id="task-decribe" required>
            <input type="text" placeholder="Enter comment" id="task-comment" required>
            <div></div>
            <button onclick="openFormResource()">Create resource task</button>

            <div style="display: none; margin: 2%;border:2px black ;" id="myFormRes">
                <h4>Create new resource</h4>
                <input type="text" placeholder="Enter link" id="res-link" required>
                <input type="text" placeholder="Enter date" id="res-decr" required>

                <button type="button" class="btn cancel" onclick="closeFormResource()">Close form</button>

            </div>


            <div></div>
            <button type="submit" onclick="createTask()" class="btn">Create task</button>
            <button type="button" class="btn cancel" onclick="closeFormTask()">Close form</button>

        </div>

        <div id="task-info"></div>

    </div>
</div>


<script type="text/javascript">
    let roomId = localStorage.getItem("currentRoom");

    function getRoomId() {
        return roomId;
    }

    function sort() {
        var field = document.getElementById("sort").value;
        window.location.href = "/room/" + roomId + "?sort=" + field
    }

    function init() {
        var myId = localStorage.getItem("myId");
        var ownerId = getOwnerId(roomId);

        if (myId === ownerId) {
            document.getElementById("addAnoun").style.display = "block";
            document.getElementById("addTask").style.display = "block";
            document.getElementById("addUser").style.display = "block";
        }
    }


    function addUserToRoom() {
        const link = document.getElementById("invite_link").value;

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/rooms/" + roomId + "/invite", false)
        xhr.send(link);

        if (xhr.status !== 200) {
            document.getElementById("infoLink").innerText = "Wrong userName";
        } else {
            window.location.href = "/room/" + roomId
        }
    }

    function openDesk() {
        window.location.href = "/room/desk/" + roomId;
    }


    function createAnouns() {
        const text = document.getElementById("Anouns-text").value;

        let body = {
            "text": text
        }

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/rooms/" + roomId + "/add/announcement", false)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify(body));
        if (xhr.status === 200) {
            window.location.href = "/room/" + roomId;
            document.getElementById("anon-info").innerText = "Announcement created";
        } else {
            document.getElementById("anon-info").innerText = "Announcement don't create";
        }
    }

    function openFormAnouns() {
        document.getElementById("myFormAnouns").style.display = "block";
    }

    function closeFormAnouns() {
        document.getElementById("myFormAnouns").style.display = "none";
    }


    function createTask() {
        const taskName = document.getElementById("task-name").value;
        const taskDate = document.getElementById("task-date").value;
        const taskDescr = document.getElementById("task-decribe").value;
        const taskComm = document.getElementById("task-comment").value;

        var link = null;
        var resComm = null;

        link = document.getElementById("res-link").value;
        resComm = document.getElementById("res-decr").value;

        let body = {
            "name": taskName,
            "deadline": taskDate,
            "description": taskDescr,
            "comment": taskComm,
            "resource": {
                "linkToResourse": link,
                "describe": resComm
            }
        }

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/rooms/" + roomId + "/add/task", false)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify(body));
        if (xhr.status === 200) {
            window.location.href = "/room/" + roomId;
            document.getElementById("task-info").innerText = "Task created";
        } else {
            document.getElementById("task-info").innerText = "Task don't create";
        }
    }


    function openFormTask() {
        document.getElementById("myFormTask").style.display = "block";
    }

    function closeFormTask() {
        document.getElementById("myFormTask").style.display = "none";
    }

    function openFormResource() {
        document.getElementById("myFormRes").style.display = "block";
    }

    function closeFormResource() {
        document.getElementById("myFormRes").style.display = "none";
    }


    function getOwnerId(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/rooms/" + roomId + "/get/owner/id", false)
        xhr.send();

        if (xhr.status === 200) {
            return xhr.response
        }
    }
</script>
</body>
</html>